# This is a basic workflow to help you get started with Actions

name: Run tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    permissions: read-all

    steps:
    - uses: actions/checkout@v6
    - run: sudo apt-get update
    - run: sudo apt install -y logcheck
    - working-directory: ./debian-13-trixie
      run: ./test.sh
    - working-directory: ./debian-13-trixie
      run: sudo ./install.sh
